h1{
    text-align: center;
    color: red;
}
h2{
    font-size: 30px;
    color: blue;
}
.list{
    color: white;
    font-size: medium;
    padding: 5px;
    margin: 5px;
}
h1:hover {
    background-color: white;
}
body{
    min-width: 250px; /* your desired width */
    min-height: 255px;
    max-width: 100%;
}
#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}